@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --background: #eee6cf ;
    --text_1: #674023 ;
    --text_2: #640b05 ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: pointer; */
    font-family: "EB Garamond", serif;
}
html , body{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background);
}
/* -------------------------------navigation bar -------------------------------------- */
header{
    width: 100%;
    height: 10vh;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    /* background-color: rebeccapurple; */
}
nav>a{
    text-decoration: none;
    color: var(--text_1);
    font-size: 2vw;
    font-weight: 500;
}
.nav-links{
    /* background-color: red; */
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.nav-links a{
    color: var(--text_1);
    text-decoration: none;
    font-size: 1.5vw;
    position: relative;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 115%;
  width: 0%;             
  height: 1px;           
  background: var(--text_2);
  transition: 0.3s ease; 
}

.nav-links a:hover::after {
  width: 100%;           
}

/* -----------------------------------------hero ------------------------------ */
.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--text_1);
}
.hero-img{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 100%;
}
.hero-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;  
    object-position: center;
}
.hero-text{
    margin-top: 15vw;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    padding-left: 4vw;
    padding-right: 4vw;
}
.hero-text h2{
    font-weight: 400;
    font-size: 2vw;
    color: var(--text_1);
}
#ht-right{
    margin-top: -2vw;
    text-align: right
}
.hero-text h1{
    margin-top: -2.2vw;
    font-family: playfair display;
    font-weight: 800;
    font-size: 8.5vw;
    color: var(--text_2);
}
/* ------------------------------------about----------------------------------- */
.about{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text{
    height: 65%;
    width: 70%;
    /* background-color: rebeccapurple; */
    text-align: center;
}
.about h2{
    color: var(--text_2);
    font-family: playfair display;
    font-weight: 800;
    font-size: 5vw;
}
.about p{
    margin-top: 1.5vw;
    color: var(--text_1);
    line-height: 25px;
    font-size: 1.5vw;
    font-weight: 400;
}
/*---------------------------marque----------------------------------*/
.marque{
    height: 6.5vw;
    padding-top: 1vw;
    border-top: 1px solid var(--text_1);
    border-bottom: 1px solid var(--text_1);
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;

}
.mar{
    animation: 20s scroll linear infinite ;
}
.marque h4{
    display: inline-block;
    font-size: 3vw;
    font-weight: 600;
    font-family: playfair display;
    color: var(--text_1);
    margin-left: 1.8vw;
    transition: all ease 0.4s;
    cursor: pointer;
}
.marque::-webkit-scrollbar{
    display: none;
}
@keyframes scroll {
    from{
        transform: translatex(0%);
    }
    to{
        transform: translatex(-100%);
    }
}
/* ------------------------------------gallery----------------------------------- */
.gallery{
    width: 100%;
}
.gallery-images{
    width: 100%;
    height: 80vh;
    /* background-color: rebeccapurple; */
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.gallery-img{
    width: 25%;
    height: 90%;
    overflow: hidden;
}
.gallery-img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease;
}
.gallery-img img:hover{
    transform: scale(1.1);
}
.gallery-text{
    width: 100%;
    height: 70vh;
    /* background-color: rebeccapurple; */
    padding-top: 4vw;
}
.gallery-text h2{
    font-size: 3vw;
    font-family: playfair display;
    font-weight: 800;
    color: var(--text_2);
    text-align: center;
}
.gallery-paragraphs{
    padding-top: 3vw;
    width: 100%;
    /* background-color: red; */
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.gallery-paragraphs p{
    width: 45%;
    color: var(--text_1);
    font-size: 1.5vw;
    /* background-color: aqua; */
}
.gallery2{
    height: 50vh;
    width: 100%;
    border-bottom: 1px solid var(--text_1);
    /* background-color: rebeccapurple; */
}
.gallery2 h2{
    font-size: 3vw;
    font-family: playfair display;
    font-weight: 800;
    color: var(--text_2);
    text-align: center;
}
.gallery2-images{
    width: 100%;
    height: 90%;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gallery2-img{
    height: 70%;
    width: 22%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery2-img img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
}
.gallery2-img h4{
    margin-top: -1vw;
    font-size: 1.2vw;
    color: var(--text_1);
    font-weight: 500;
    text-align: center;
}
/* ------------------------------------documentary-------------------------------- */
.documentary{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.documentary-video{
    z-index: -1;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    opacity: 0;
    transition: all ease 0.3s;
}
.documentary-video video{
    width: 100%;
    transform: scale(1.5);
    height: 100%;
}
.documentary-video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.documentary a{
    text-decoration: none;
}
.documentary-button button{
    font-size: 1.1vw;
    color: var(--background);
    background-color: var(--text_2);
    height: 7vh;
    width: 12vw;
    border: none;
    border-radius: 4px;
    transition: all ease 0.3s;
}
.documentary-button button:hover {
    background-color: var(--background);
    color: var(--text_2);
    font-weight: 600;
}
